/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');









/* universal styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Work Sans;

}

/* nav style starts here */
.gamer-home {
    display: flex;
    align-items: center;

    color: #0B0223;
    font-weight: 700;
    font-size: 1.2rem;



}

.nav-img {
    width: 76px;
    height: 35px;



}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 28px 140px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    width: 37%;


    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #3C354F;


}

.nav-items a {
    text-decoration: none;
}

.G {
    margin-left: 10px;
    color: #F948B2;
}

.follow-us-on {
    padding: 10px 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;



}

.fa-youtube {
    padding: 0px 10px;

}

/* nav style ends here */

/* Header content starts here */
.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;


}

.para {
    color: #534C64;
    padding-left: 15px;
    margin: 10px 0px;

}

#nd {
    margin: 10px 0px;
}

.btn-1 {

    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    padding: 11px 25px;
    margin-right: 20px;
    border: none;

    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 13px;

}

.btn-2 {
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    padding: 11px 25px;
    border: none;

    border-radius: 48px;
    background-color: #4EC5F7;
    margin-top: 13px;

}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 140px;


}

.title {
    color: #0B0223;


    font-size: 48px;
    font-style: normal;
    font-weight: 600;


}

.img-container img {
    width: 465px;
    height: 451px;
    object-fit: cover;

}

/* Header content end here */

/* main section start here */
/* online section start here */
.online-img {
    display: flex;
    gap: 20px;








}

.online-container {
    margin: 70px 140px 70px 140px;

}

.online-text {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px 0px;

}

.para-2 {
    color: #534C64;


    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 10px 0px;

}

.online-games {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* online  section end here */



/* play games starts here */
.play-games {
    margin: 150px 140px;
    display: flex;

}

.img-play-games {
    display: flex;
    flex-direction: column;



}

.second-picture {
    margin-top: -160px;
    margin-left: 400px;
    margin-right: 90px;
}

.play-games-div {
    display: flex;
    align-items: center;




}

.para-3 {
    color: #534C64;

    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
    line-height: 20px;
}



.title-play-games {
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;

}

.PG {
    color: #F948B2;

}

.O {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* play games ends here */

/* buttons section starts from here  */


.buttons {
    margin: 100px 140px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;


    row-gap: 20px;

}

.B9 {
    display: flex;
    align-items: center;
    background-color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    padding: 3px 30px 3px 3px;

    border-radius: 35px;
    border: none;
    width: 170px;



}


.B9 img {
    padding-left: 4px;
    width: 30%;
}

.btn-span {
    padding-left: 5px;
    color: #0B0223;

    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#b6,
#b7,
#b8,
#b9 {
    margin-left: 100px;
}


.B9:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
    width: calc(170px - 2px - 10px);


}

.btn-span:hover {
    color: #FF42A5;

}




/* buttons section ends from here  */




/* main section end here */





/* footer section starts from here  */

.gamer-foot {
    display: flex;
    align-items: center;

    justify-content: center;
}

.para-foot {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 100px;

}

.foot-bg {
    background: #0B0223;


    height: 60vh;
    flex-shrink: 0;
}

.foot {
    margin: 0px 140px;
}

.white {
    color: #FFF;
}

.foot-btn {
    display: flex;
    justify-content: space-evenly;

    margin: 60px 250px;
}

.foot-btn button {
    font-size: 20px;
    background: #0B0223;
    border: none;
    box-shadow: none;
}

.terms {
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-around;
    margin: 0px 200px;
}



.copy-right {
    color: rgba(255, 255, 255, 0.60);

    font-size: 0.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.gamer-foot h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gamer-foot-img {
    margin: 50px 0px;
}

/* footer section ends from here  */




/* bonus starts from here */

/* media query starts from here */
@media screen and (max-width:425px) {

    .hide {
        display: none;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    .nav-bar,.section-1, .online-img, .play-games-div, 
    .nav-items  {
        flex-direction: column;
         
         
        
        align-items: center;
    }
    .nav-items{
        line-height: 3;

        
    }
    .nav-bar{
        margin-right: 40px;
    }
    .follow-us-on{
        padding: 0px 50px;
        margin: 10px 70px;
    }

    .media {
        
         margin-left: 50px; 
    }
    .img-container{
        margin-left: 60px;

    }
    .title {
        margin: 0px;
        margin-left: 60px;
    }

    .online-games {
        display: inline;
        font-size: 2rem;
        margin: 0px;
        padding: 0px;
    }
    .play-games-div{
        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .img-play-games  img{
        width: 300px;
        margin: 0px;
        padding: 0px;
        
        
        align-items: center;
    }

    #second-pic {
        width: 160px;
        margin-left: 200px;
        margin-top: -50px;
    }
    .buttons {
        margin: 0px 0px 0px 70px ;
        padding: 0px;
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #b7, #b6 ,#b8 ,#b9 {
        margin: 0px;
        padding: 0px;
    }

    .foot-bg {
        
        height: 130vh;
        width: 132.5vh;
        
    }
    .foot {
        margin: 40px;
        
    }
    .para-foot , .foot-btn {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .foot-btn{
        gap: 25px;

}


}
@media screen and (min-width:576px) and (max-width:992px) {
    body {
        flex-direction: column;
    }
    .nav-bar,.section-1, .online-img, .play-games-div, 
    .nav-items  {
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        
        align-items: center;
    }
    .nav-items{
        line-height: 3;

        
    }
    .nav-bar{
        margin-right: 40px;
    }
    .follow-us-on{
        padding: 5px;
    }

    .media {
        
         margin-left: 50px; 
    }

    .online-games {
        display: inline;
        font-size: 2rem;
        margin: 0px;
        padding: 0px;
    }
    .play-games-div{
        
        flex-direction: column-reverse;
    }
    .img-play-games  img{
        width: 300px;
        margin: 0px;
        padding: 0px;
        
        
        align-items: center;
    }

    #second-pic {
        width: 160px;
        margin-left: 200px;
        margin-top: -50px;
    }
    .buttons {
        margin: 60px;
        padding: 0px;
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #b7, #b6 ,#b8 ,#b9 {
        margin: 0px;
        padding: 0px;
    }

    .foot-bg {
        
        height: 120vh;
        width: 100;
    }
    .foot {
        margin: 40px;
        
    }
    .para-foot , .foot-btn {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .foot-btn{
        gap: 25px;

}


    
}











/* media query ends from here */



/* bonus ends from here */